.modalPopUp__index{
    position: fixed;
    /* top: calc(50% - 325px); */
    top: calc(50% - 325px);
    left: calc(50% - 300px);
    width: 600px;
    /* height: 650px; */
    /* height: 90vh; */
    /* min-height: 450px; */
    max-height: 650px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #fff;
    z-index: 5;
}


.index__modal{
    width: 100%;
    margin: 0;
}

.indexModal__header{
    position: relative;
    left: -10px;
    margin-left: 0px;

}

.indexModal__button__container{
    padding: 0 75px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #fff;
    z-index: 5;
}

/* Step One*/


.indexModal__formWrapper{
    margin: 0 auto;
}


.indexModal__form,
.step2__register__info{
    width: 440px;
}


.indexModal__mainTitle{
    font-size: 3.2rem;
}

/*

    Login Section

*/

.modal__loginUser .login__wrapper__form{
    max-width: 288px;
}

.login__register{
    margin-top: 0;
}

.messageModal__login{
    left: calc(50% - 175px);
    bottom: 20px;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    z-index: 5;
}

