:root{
    --brand-color: #1d9bf0;
    --brand-color-hover: rgba(26,140,216);
    --anchor-color: #39bff6;
    --anchor-color-google: #1a73e8;
    --button-active-white: #b8e5f7;
    --gray-twitter: #536471;
    --border-input-color: #dadce0;
    --error-input: #d93025;

    --cubic--fast-transition: cubic-bezier(.02,.98,.38,1);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body {
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}

/* TO PREVENTE THE SCROLL IN BODY USE JS TO MANAGE THE MODAL */
body.overFlowHidden{
    overflow: hidden;
}

a{

    text-decoration: none;
}

a.twitter__anchor--blue{
    color: var(--focus-input-color);
}

a.twitter__anchor--blue:hover{
    text-decoration: underline;
}

ul {
    list-style: none;
}

/* Buttons */

.twitter__button{
    font-size: 1.6rem;
    padding: 12px 10px;
    border: none;
    border-radius: 4px;
    background-color: none;
    cursor: pointer;
    transition: all 0.5s;
}

.twitter__button--white{
    border: 1px solid #d5dee2;
    background-color: white;
}

.twitter__button--blue{
    font-weight: 500;
    border: none;
    background-color: var(--brand-color);
    color: white;
}

.twitter__button--blue:hover{
    background-color: var(--brand-color-hover);
}

.button__light__theme{
    padding: 10px 10px;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #fff;
    color: var(--anchor-color-google);

}

.button__light__theme:hover{
    background-color: #f6fafe;
}


.text--overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*
    Checkbox
*/
.checkbox__wrapper{
    display: grid;
    place-items: center;
    width: 3.4rem;
    height: 3.4rem;
    padding: 6px;
    border-radius: 50%;
}

.checkbox__wrapper:hover{
    box-shadow: 0 0 1px 1px #eaf4ff;
    background-color:  #f6fafe;
}

.generalOne__checkbox{
    width: 80%;
    height: 80%;
    padding: 2px;
    border: 2px solid #555;
    border-radius: 2px;
    color: #888;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all 0.2s;
}

.generalOne__checkbox:checked{
    border: none;
}

.generalOne__checkbox:checked::before {
    /* width: 300px;
    height: 300px; */
    content: "\2713";
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, .2); */
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    line-height: 15px;
    border: none;
    color: #f3f3f3;
}
