.buttons__container__access{
    flex-direction: column;
    align-items: center;
}

.button__accessAccount{
    order: 10;
    margin-bottom: 28px;
}

.button__access__next{
    order: 1;
    margin-bottom: 28px;
}